
<div class="row">
    <div class="col-6">
        <input type="submit" class="form-control btn btn-primary" value="Create" />
    </div>
    <div class="col-6">
        <a class="btn btn-success form-control" asp-action="Index">Back To List</a>
    </div>
</div>