@model int

<div class="row">
    <div class="col-6">
        <a class="form-control btn btn-primary" asp-action="Edit" asp-route-id="@Model"> Edit</a>
    </div>
    <div class="col-6">
        <a class="btn btn-success form-control" asp-action="Index">Back To List</a>
    </div>
</div>